n8n-meta-analyse.json
{
  "name": "Meta Analyse Performance - JOF JMW v2",
  "nodes": [
    {
      "id": "trigger-manual",
      "name": "Demarrage Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [80, 300],
      "parameters": {}
    },
    {
      "id": "trigger-schedule",
      "name": "Declencheur Journalier",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [80, 480],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "days", "triggerAtHour": 8, "triggerAtMinute": 0 }
          ]
        }
      }
    },
    {
      "id": "node-config",
      "name": "Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 390],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================\n// CONFIGURATION - A REMPLIR AVANT PREMIER LANCEMENT\n// ============================================================\n// META_ACCESS_TOKEN : Business Manager > Utilisateurs système\n//   Droits requis: ads_read, pages_read_engagement, instagram_basic, ads_management\n//   URL: business.facebook.com > Paramètres > Utilisateurs système\n//\n// ANTHROPIC_API_KEY : console.anthropic.com > API Keys\n//\n// Pour chaque ville:\n//   ad_account_id : Gestionnaire de publicités > Menu déroulant en haut (format act_XXXXXXXXXX)\n//   page_id       : Page Facebook > A propos > Identifiant de la page\n//   ig_user_id    : Graph API Explorer > /{page-id}?fields=instagram_business_account\n//                   ou null si pas de compte IG lié\n// ============================================================\n\nconst TOKEN = $env.META_ACCESS_TOKEN || 'REMPLACER_PAR_TOKEN_META';\nconst ANTHROPIC_KEY = $env.ANTHROPIC_API_KEY || 'REMPLACER_PAR_CLE_ANTHROPIC';\nconst EMAIL_RAPPORT = $env.RAPPORT_EMAIL || 'christoftran@gmail.com';\n\n// Plage de dates: last_7d | last_14d | last_30d | last_90d | this_month | last_month\nconst DATE_PRESET = 'last_30d';\n\nreturn [{\n  json: {\n    token: TOKEN,\n    anthropic_key: ANTHROPIC_KEY,\n    email: EMAIL_RAPPORT,\n    date_preset: DATE_PRESET,\n    villes: [\n      {\n        nom: 'Metz',\n        ad_account_id: 'act_XXXXXXXXXX',\n        page_id: 'XXXXXXXXXX',\n        ig_user_id: null,\n        budget_alloue: 5000,\n        objectif_principal: 'Ventes de billets',\n        date_evenement: '2025-07-12'\n      },\n      {\n        nom: 'Bordeaux',\n        ad_account_id: 'act_XXXXXXXXXX',\n        page_id: 'XXXXXXXXXX',\n        ig_user_id: null,\n        budget_alloue: 5000,\n        objectif_principal: 'Ventes de billets',\n        date_evenement: '2025-08-23'\n      },\n      {\n        nom: 'Evreux',\n        ad_account_id: 'act_XXXXXXXXXX',\n        page_id: 'XXXXXXXXXX',\n        ig_user_id: null,\n        budget_alloue: 4000,\n        objectif_principal: 'Notoriete',\n        date_evenement: '2025-09-14'\n      },\n      {\n        nom: 'Nevers',\n        ad_account_id: 'act_XXXXXXXXXX',\n        page_id: null,\n        ig_user_id: 'XXXXXXXXXX',\n        budget_alloue: 3000,\n        objectif_principal: 'Notoriete',\n        date_evenement: '2025-10-05'\n      }\n    ]\n  }\n}];"
      }
    },
    {
      "id": "node-fetch-meta",
      "name": "Recuperer Donnees Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 390],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $input.first().json;\nconst { token, villes, date_preset } = config;\nconst BASE = 'https://graph.facebook.com/v21.0';\n\nconst get = async (url) => {\n  const r = await fetch(url);\n  const d = await r.json();\n  if (d.error) { console.warn('Meta API:', d.error.message); return null; }\n  return d;\n};\n\n// Score de performance: CTR 40% + reach/euro 30% + taux engagement 30%\nconst scoreAd = (impressions, reach, clicks, spend, actions) => {\n  if (impressions < 100) return 0;\n  const ctr = impressions > 0 ? clicks / impressions * 100 : 0;\n  const engagements = parseInt(actions?.find(a => a.action_type === 'post_engagement')?.value || 0);\n  const engRate = reach > 0 ? engagements / reach * 100 : 0;\n  const reachPerEuro = spend > 0 ? reach / spend : 0;\n  const ctrScore   = Math.min(100, ctr * 20);           // CTR 5% = 100pts\n  const reachScore = Math.min(100, reachPerEuro / 5);   // 500 reach/€ = 100pts\n  const engScore   = Math.min(100, engRate * 10);       // 10% engagement = 100pts\n  return Math.round(ctrScore * 0.40 + reachScore * 0.30 + engScore * 0.30);\n};\n\nconst getReco = (score) => {\n  if (score >= 70) return { label: 'Booster', color: '#16a34a', bg: '#f0fdf4', emoji: '🚀' };\n  if (score >= 50) return { label: 'Maintenir', color: '#2563eb', bg: '#eff6ff', emoji: '✅' };\n  if (score >= 30) return { label: 'Optimiser', color: '#d97706', bg: '#fffbeb', emoji: '⚠️' };\n  return { label: 'Stopper', color: '#dc2626', bg: '#fef2f2', emoji: '🛑' };\n};\n\nconst results = [];\n\nfor (const ville of villes) {\n  const out = {\n    ville: ville.nom,\n    budget_alloue: ville.budget_alloue,\n    objectif: ville.objectif_principal,\n    date_evenement: ville.date_evenement,\n    campaigns: [],\n    ads: [],\n    audience: { fb: null, ig: null },\n    totals: { impressions: 0, reach: 0, clicks: 0, spend: 0, engagements: 0, ctr: '0.00' }\n  };\n\n  try {\n    // 1. Vue campagnes\n    const campUrl = `${BASE}/${ville.ad_account_id}/insights?fields=campaign_name,campaign_id,impressions,reach,clicks,actions,spend,frequency,cpm,cpc,ctr&level=campaign&date_preset=${date_preset}&limit=50&access_token=${token}`;\n    const campData = await get(campUrl);\n    if (campData?.data) {\n      out.campaigns = campData.data.map(c => ({\n        id: c.campaign_id,\n        nom: c.campaign_name,\n        impressions: parseInt(c.impressions) || 0,\n        reach: parseInt(c.reach) || 0,\n        clicks: parseInt(c.clicks) || 0,\n        spend: parseFloat(c.spend) || 0,\n        ctr: parseFloat(c.ctr || 0).toFixed(2),\n        cpm: parseFloat(c.cpm || 0).toFixed(2),\n        frequency: parseFloat(c.frequency || 0).toFixed(1)\n      })).sort((a, b) => b.impressions - a.impressions);\n    }\n\n    // 2. Vue annonces individuelles (= posts sponsorisés)\n    const adInsUrl = `${BASE}/${ville.ad_account_id}/insights?fields=ad_id,ad_name,adset_name,campaign_name,impressions,reach,clicks,actions,spend,frequency,cpm,cpc,ctr,cost_per_action_type&level=ad&date_preset=${date_preset}&limit=100&access_token=${token}`;\n    const adInsData = await get(adInsUrl);\n\n    // 3. Détails créatifs (visuels, textes)\n    let creatives = {};\n    const adsUrl = `${BASE}/${ville.ad_account_id}/ads?fields=id,name,status,creative{id,title,body,image_url,thumbnail_url,call_to_action_type}&limit=100&access_token=${token}`;\n    const adsData = await get(adsUrl);\n    if (adsData?.data) {\n      for (const ad of adsData.data) {\n        creatives[ad.id] = {\n          titre: ad.creative?.title || null,\n          corps: ad.creative?.body ? ad.creative.body.substring(0, 150) : null,\n          imageUrl: ad.creative?.image_url || ad.creative?.thumbnail_url || null,\n          cta: ad.creative?.call_to_action_type || null,\n          statut: ad.status || 'UNKNOWN'\n        };\n      }\n    }\n\n    if (adInsData?.data) {\n      out.ads = adInsData.data.map(a => {\n        const actions = a.actions || [];\n        const imp   = parseInt(a.impressions) || 0;\n        const reach = parseInt(a.reach) || 0;\n        const clicks = parseInt(a.clicks) || 0;\n        const spend = parseFloat(a.spend) || 0;\n        const eng   = parseInt(actions.find(x => x.action_type === 'post_engagement')?.value || 0);\n        const likes = parseInt(actions.find(x => x.action_type === 'like')?.value || 0);\n        const comms = parseInt(actions.find(x => x.action_type === 'comment')?.value || 0);\n        const shares= parseInt(actions.find(x => x.action_type === 'post')?.value || 0);\n        const videoViews = parseInt(actions.find(x => x.action_type === 'video_view')?.value || 0);\n        const linkClicks = parseInt(actions.find(x => x.action_type === 'link_click')?.value || 0);\n        const ctr  = parseFloat(a.ctr || 0);\n        const score = scoreAd(imp, reach, clicks, spend, actions);\n        const reco  = getReco(score);\n        const cr    = creatives[a.ad_id] || {};\n\n        return {\n          id: a.ad_id,\n          nom: a.ad_name || '(sans nom)',\n          adset: a.adset_name || '',\n          campagne: a.campaign_name || '',\n          impressions: imp,\n          reach,\n          clicks,\n          spend,\n          engagements: eng,\n          likes, comms, shares, videoViews, linkClicks,\n          ctr: ctr.toFixed(2),\n          cpm: parseFloat(a.cpm || 0).toFixed(2),\n          cpc: parseFloat(a.cpc || 0).toFixed(2),\n          frequency: parseFloat(a.frequency || 0).toFixed(1),\n          costPerEngagement: eng > 0 ? (spend / eng).toFixed(2) : null,\n          score,\n          reco,\n          titre: cr.titre,\n          corps: cr.corps,\n          imageUrl: cr.imageUrl,\n          cta: cr.cta,\n          statut: cr.statut\n        };\n      }).sort((a, b) => b.score - a.score);\n    }\n\n    // 4. Audience page/IG\n    if (ville.page_id) {\n      const pageData = await get(`${BASE}/${ville.page_id}?fields=followers_count,instagram_business_account{followers_count}&access_token=${token}`);\n      if (pageData) {\n        out.audience.fb = pageData.followers_count ?? null;\n        out.audience.ig = pageData.instagram_business_account?.followers_count ?? null;\n      }\n    } else if (ville.ig_user_id) {\n      const igData = await get(`${BASE}/${ville.ig_user_id}?fields=followers_count&access_token=${token}`);\n      if (igData) out.audience.ig = igData.followers_count ?? null;\n    }\n\n    // 5. Totaux\n    const totalImp  = out.ads.reduce((s, a) => s + a.impressions, 0);\n    const totalReach= out.ads.reduce((s, a) => s + a.reach, 0);\n    const totalClk  = out.ads.reduce((s, a) => s + a.clicks, 0);\n    const totalSpd  = out.ads.reduce((s, a) => s + a.spend, 0);\n    const totalEng  = out.ads.reduce((s, a) => s + a.engagements, 0);\n    out.totals = {\n      impressions: totalImp,\n      reach: totalReach,\n      clicks: totalClk,\n      spend: totalSpd,\n      engagements: totalEng,\n      ctr: totalImp > 0 ? (totalClk / totalImp * 100).toFixed(2) : '0.00',\n      engagementRate: totalReach > 0 ? (totalEng / totalReach * 100).toFixed(2) : '0.00',\n      cpm: totalImp > 0 ? (totalSpd / totalImp * 1000).toFixed(2) : '0.00',\n      budgetRestant: ville.budget_alloue - totalSpd,\n      tauxDepense: ville.budget_alloue > 0 ? (totalSpd / ville.budget_alloue * 100).toFixed(1) : '0.0'\n    };\n\n  } catch (e) {\n    console.error(`Erreur ${ville.nom}:`, e.message);\n    out.error = e.message;\n  }\n\n  results.push(out);\n}\n\nreturn results.map(r => ({ json: r }));\n"
      }
    },
    {
      "id": "node-prepare-ai",
      "name": "Preparer Analyse IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 390],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const villes = $input.all().map(i => i.json);\nconst cfg = $('Configuration').first().json;\n\nconst fmt = n => n != null ? Number(n).toLocaleString('fr-FR') : 'N/A';\nconst fmtE = n => n != null ? `${Number(n).toFixed(2)} €` : 'N/A';\n\nlet prompt = `Tu es un expert en marketing digital spécialisé dans les événements culturels (festivals anime/manga) et la publicité Meta Ads en France.\\n\\n`;\nprompt += `Contexte: Japan Otaku Festival (JOF) et Japan Manga Wave (JMW) - festivals manga/anime itinérants en France.\\n`;\nprompt += `Objectif: Analyser les performances publicitaires Meta sur ${cfg.date_preset === 'last_30d' ? '30 derniers jours' : cfg.date_preset} et fournir des recommandations précises.\\n\\n`;\n\nprompt += `=== DONNÉES PAR VILLE ===\\n\\n`;\n\nfor (const v of villes) {\n  if (v.error) {\n    prompt += `${v.ville}: ERREUR - ${v.error}\\n\\n`;\n    continue;\n  }\n  const daysUntilEvent = v.date_evenement ? Math.ceil((new Date(v.date_evenement) - new Date()) / 86400000) : null;\n  \n  prompt += `--- ${v.ville.toUpperCase()} ---\\n`;\n  if (daysUntilEvent !== null) prompt += `📅 Événement dans ${daysUntilEvent} jours (${v.date_evenement})\\n`;\n  prompt += `🎯 Objectif: ${v.objectif || 'N/A'}\\n`;\n  prompt += `💰 Budget: ${fmtE(v.totals.spend)} dépensé / ${fmtE(v.budget_alloue)} alloué (${v.totals.tauxDepense}%)\\n`;\n  prompt += `👥 Audience: Facebook ${fmt(v.audience.fb)} abonnés | Instagram ${v.audience.ig != null ? fmt(v.audience.ig) : 'Pas de compte'}\\n`;\n  prompt += `📊 Performances globales:\\n`;\n  prompt += `   - Impressions: ${fmt(v.totals.impressions)} | Couverture: ${fmt(v.totals.reach)}\\n`;\n  prompt += `   - Clics: ${fmt(v.totals.clicks)} | CTR moyen: ${v.totals.ctr}%\\n`;\n  prompt += `   - Engagements: ${fmt(v.totals.engagements)} | Taux engagement: ${v.totals.engagementRate}%\\n`;\n  prompt += `   - CPM: ${v.totals.cpm} € | Budget restant: ${fmtE(v.totals.budgetRestant)}\\n\\n`;\n\n  const topAds = (v.ads || []).slice(0, 5);\n  const bottomAds = (v.ads || []).filter(a => a.impressions > 200).slice(-3);\n  \n  if (topAds.length > 0) {\n    prompt += `🏆 TOP ${topAds.length} ANNONCES (meilleures performances):\\n`;\n    for (const ad of topAds) {\n      prompt += `  • [Score ${ad.score}/100] \"${ad.nom}\"\\n`;\n      prompt += `    CTR: ${ad.ctr}% | Reach: ${fmt(ad.reach)} | Engagement: ${fmt(ad.engagements)} | Dépense: ${fmtE(ad.spend)} | CPM: ${ad.cpm}€\\n`;\n      if (ad.likes || ad.comms || ad.shares) prompt += `    Likes: ${ad.likes} | Commentaires: ${ad.comms} | Partages: ${ad.shares}\\n`;\n      if (ad.titre) prompt += `    Titre annonce: \"${ad.titre}\"\\n`;\n      prompt += `    Recommandation: ${ad.reco.emoji} ${ad.reco.label}\\n`;\n    }\n    prompt += `\\n`;\n  }\n  \n  if (bottomAds.length > 0) {\n    prompt += `🔴 ANNONCES LES MOINS PERFORMANTES:\\n`;\n    for (const ad of bottomAds) {\n      prompt += `  • [Score ${ad.score}/100] \"${ad.nom}\"\\n`;\n      prompt += `    CTR: ${ad.ctr}% | Reach: ${fmt(ad.reach)} | Dépense: ${fmtE(ad.spend)}\\n`;\n    }\n    prompt += `\\n`;\n  }\n  \n  prompt += `Campagnes actives: ${v.campaigns.length} | Annonces analysées: ${v.ads.length}\\n\\n`;\n}\n\nprompt += `=== DEMANDE D'ANALYSE ===\\n\\n`;\nprompt += `Fournis une analyse structurée en 5 parties:\\n\\n`;\nprompt += `**1. DIAGNOSTIC GLOBAL** (3-4 phrases)\\n`;\nprompt += `Évaluation générale des performances, villes qui sur/sous-performent, alerte sur les urgences.\\n\\n`;\nprompt += `**2. ANALYSE PAR VILLE** (pour chaque ville avec données):\\n`;\nprompt += `  - Ce qui fonctionne (annonces à booster)\\n`;\nprompt += `  - Ce qui doit être stoppé immédiatement (avec raison)\\n`;\nprompt += `  - Budget: bien utilisé ou sous/sur-dépensé? Que faire?\\n`;\nprompt += `  - Score de performance global sur 10\\n\\n`;\nprompt += `**3. RECOMMANDATIONS CRÉATIVES** \\n`;\nprompt += `Types de visuels qui fonctionnent le mieux (images vs vidéos, style graphique), messages/accroches à tester, format publicitaire recommandé pour chaque objectif.\\n\\n`;\nprompt += `**4. CIBLAGES À TESTER**\\n`;\nprompt += `Audiences à cibler/exclure, géolocalisation, tranches d'âge, centres d'intérêt spécifiques au public anime/manga.\\n\\n`;\nprompt += `**5. PLAN D'ACTION CETTE SEMAINE** (liste priorisée, maximum 7 actions concrètes)\\n`;\nprompt += `Actions spécifiques avec la ville concernée, l'action exacte et l'impact attendu.\\n\\n`;\nprompt += `Réponds en français, sois concis et très actionnable. Évite les généralités - base-toi sur les données.`;\n\nreturn [{\n  json: {\n    prompt,\n    villesData: villes,\n    anthropic_key: cfg.anthropic_key,\n    email: cfg.email,\n    date_preset: cfg.date_preset\n  }\n}];\n"
      }
    },
    {
      "id": "node-claude",
      "name": "Analyser avec Claude IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 390],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $json.anthropic_key }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 3000, messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "node-build-report",
      "name": "Construire Rapport HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 390],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const claudeResp = $input.first().json;\nconst analyseIA = claudeResp.content?.[0]?.text || claudeResp.error?.message || 'Analyse IA indisponible.';\nconst aiData = $('Preparer Analyse IA').first().json;\nconst villes = aiData.villesData || [];\nconst email  = aiData.email;\nconst dateStr = new Date().toLocaleDateString('fr-FR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst fmt  = n => n != null ? Number(n).toLocaleString('fr-FR') : 'N/A';\nconst fmtE = n => n != null ? `${Number(n).toFixed(2).replace('.', ',')} €` : 'N/A';\n\nconst scoreColor = s => s >= 70 ? '#16a34a' : s >= 50 ? '#2563eb' : s >= 30 ? '#d97706' : '#dc2626';\nconst scoreBg    = s => s >= 70 ? '#f0fdf4' : s >= 50 ? '#eff6ff' : s >= 30 ? '#fffbeb' : '#fef2f2';\n\nconst budgetBar = (depense, alloue) => {\n  const pct = Math.min(100, alloue > 0 ? depense / alloue * 100 : 0);\n  const c = pct > 85 ? '#dc2626' : pct > 60 ? '#f59e0b' : '#16a34a';\n  return `<div style=\"background:#e5e7eb;border-radius:4px;height:10px;width:100%;margin:4px 0;\"><div style=\"background:${c};width:${pct.toFixed(1)}%;height:10px;border-radius:4px;transition:width 0.3s;\"></div></div><span style=\"font-size:11px;color:#6b7280;\">${pct.toFixed(1)}% utilisé</span>`;\n};\n\nconst escHtml = s => s ? String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;') : '';\n\nconst markdownToHtml = (md) => {\n  if (!md) return '';\n  return md\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/^#{1,3}\\s+(.+)$/gm, '<strong>$1</strong>')\n    .replace(/^• /gm, '&#8226; ')\n    .replace(/\\n{2,}/g, '</p><p style=\"margin:8px 0;\">')\n    .replace(/\\n/g, '<br>')\n    .replace(/^/, '<p style=\"margin:8px 0;\">')\n    .replace(/$/, '</p>');\n};\n\nconst globalTotals = {\n  impressions: villes.reduce((s, v) => s + (v.totals?.impressions || 0), 0),\n  reach:       villes.reduce((s, v) => s + (v.totals?.reach || 0), 0),\n  spend:       villes.reduce((s, v) => s + (v.totals?.spend || 0), 0),\n  clicks:      villes.reduce((s, v) => s + (v.totals?.clicks || 0), 0),\n  engagements: villes.reduce((s, v) => s + (v.totals?.engagements || 0), 0)\n};\n\nlet html = `<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>Analyse Meta JOF/JMW - ${dateStr}</title>\n<style>\n  * { box-sizing:border-box; }\n  body { font-family:'Segoe UI',Arial,sans-serif; background:#f4f0ff; margin:0; padding:20px; color:#1f2937; }\n  .wrap { max-width:960px; margin:0 auto; background:white; border-radius:16px; overflow:hidden; box-shadow:0 4px 30px rgba(124,58,237,.15); }\n  .header { background:linear-gradient(135deg,#7c3aed,#5b21b6); padding:36px 32px; color:white; }\n  .header h1 { margin:0; font-size:26px; letter-spacing:-.5px; }\n  .header p { margin:8px 0 0; opacity:.8; font-size:14px; }\n  .global-kpi { display:grid; grid-template-columns:repeat(5,1fr); gap:0; border-bottom:1px solid #ede9fe; }\n  .kpi { padding:20px 16px; text-align:center; border-right:1px solid #ede9fe; }\n  .kpi:last-child { border-right:none; }\n  .kpi-val { font-size:22px; font-weight:800; color:#7c3aed; }\n  .kpi-lbl { font-size:11px; color:#6b7280; margin-top:4px; text-transform:uppercase; letter-spacing:.05em; }\n  .city-grid { display:grid; grid-template-columns:repeat(auto-fit,minmax(200px,1fr)); gap:16px; padding:24px; background:#faf8ff; border-bottom:1px solid #ede9fe; }\n  .city-card { background:white; border:1px solid #ede9fe; border-radius:10px; padding:16px; }\n  .city-card h3 { margin:0 0 8px; font-size:16px; color:#7c3aed; }\n  .city-stat { font-size:12px; color:#374151; margin:3px 0; }\n  .section { padding:28px 32px; }\n  .section-title { font-size:18px; font-weight:800; color:#7c3aed; margin:0 0 20px; padding-bottom:10px; border-bottom:2px solid #ede9fe; display:flex; align-items:center; gap:8px; }\n  table { width:100%; border-collapse:collapse; font-size:12.5px; margin-bottom:8px; }\n  thead tr { background:#7c3aed; color:white; }\n  th { padding:10px 12px; text-align:left; font-weight:600; white-space:nowrap; }\n  td { padding:9px 12px; border-bottom:1px solid #f3f4f6; vertical-align:top; }\n  tr:hover td { background:#faf8ff; }\n  .badge { display:inline-block; padding:3px 8px; border-radius:99px; font-size:11px; font-weight:700; }\n  .ai-box { background:linear-gradient(135deg,#faf8ff,#f3f0ff); border:1px solid #c4b5fd; border-radius:12px; padding:24px; font-size:14px; line-height:1.7; color:#1f2937; }\n  .footer { background:#f3f4f6; padding:14px 24px; font-size:11px; color:#9ca3af; text-align:center; }\n  .sep { margin:24px 0; border:none; border-top:2px solid #ede9fe; }\n  .score-bar { display:inline-flex; align-items:center; gap:6px; }\n  .score-circle { width:36px; height:36px; border-radius:50%; display:flex; align-items:center; justify-content:center; font-weight:800; font-size:12px; color:white; flex-shrink:0; }\n</style>\n</head>\n<body>\n<div class=\"wrap\">\n\n<!-- HEADER -->\n<div class=\"header\">\n  <h1>Analyse Performance Meta Ads</h1>\n  <p>Japan Otaku Festival &amp; Japan Manga Wave &bull; ${escHtml(dateStr)}</p>\n</div>\n\n<!-- KPI GLOBAUX -->\n<div class=\"global-kpi\">\n  <div class=\"kpi\"><div class=\"kpi-val\">${fmt(globalTotals.impressions)}</div><div class=\"kpi-lbl\">Impressions totales</div></div>\n  <div class=\"kpi\"><div class=\"kpi-val\">${fmt(globalTotals.reach)}</div><div class=\"kpi-lbl\">Personnes touchées</div></div>\n  <div class=\"kpi\"><div class=\"kpi-val\">${fmt(globalTotals.clicks)}</div><div class=\"kpi-lbl\">Clics</div></div>\n  <div class=\"kpi\"><div class=\"kpi-val\">${fmt(globalTotals.engagements)}</div><div class=\"kpi-lbl\">Engagements</div></div>\n  <div class=\"kpi\"><div class=\"kpi-val\">${fmtE(globalTotals.spend)}</div><div class=\"kpi-lbl\">Budget total dépensé</div></div>\n</div>\n\n<!-- RÉSUMÉ PAR VILLE -->\n<div class=\"city-grid\">\n  ${villes.map(v => v.error ? `<div class=\"city-card\"><h3>${escHtml(v.ville)}</h3><div style=\"color:#dc2626;font-size:12px;\">Erreur: ${escHtml(v.error)}</div></div>` : `<div class=\"city-card\">\n    <h3>${escHtml(v.ville)}</h3>\n    <div class=\"city-stat\">📅 Événement: ${v.date_evenement || 'N/A'}</div>\n    <div class=\"city-stat\">👁 ${fmt(v.totals.impressions)} impressions</div>\n    <div class=\"city-stat\">🖱 CTR: ${v.totals.ctr}% | Eng: ${v.totals.engagementRate}%</div>\n    <div class=\"city-stat\">FB: ${fmt(v.audience.fb)} | IG: ${v.audience.ig != null ? fmt(v.audience.ig) : 'N/A'}</div>\n    <div style=\"margin-top:8px;\">${budgetBar(v.totals.spend, v.budget_alloue)}</div>\n    <div class=\"city-stat\">${fmtE(v.totals.spend)} / ${fmtE(v.budget_alloue)}</div>\n  </div>`).join('')}\n</div>\n\n<!-- ANALYSE IA -->\n<div class=\"section\">\n  <div class=\"section-title\">🤖 Analyse &amp; Recommandations IA</div>\n  <div class=\"ai-box\">${markdownToHtml(analyseIA)}</div>\n</div>\n\n`;\n\n// SECTION PAR VILLE\nfor (const v of villes) {\n  if (v.error) continue;\n  const ads = v.ads || [];\n  const topAds = ads.slice(0, 10);\n  const boosterCount = ads.filter(a => a.score >= 70).length;\n  const stopperCount = ads.filter(a => a.score < 30 && a.impressions > 200).length;\n\n  html += `\n<hr class=\"sep\">\n<div class=\"section\">\n  <div class=\"section-title\">📍 ${escHtml(v.ville)}\n    <span style=\"font-size:13px;font-weight:500;color:#6b7280;\">${v.campaigns.length} campagne${v.campaigns.length > 1 ? 's' : ''} &bull; ${ads.length} annonce${ads.length > 1 ? 's' : ''}</span>\n  </div>\n\n  <!-- Résumé ville -->\n  <div style=\"display:grid;grid-template-columns:repeat(4,1fr);gap:12px;margin-bottom:24px;\">\n    <div style=\"background:#faf8ff;border:1px solid #ede9fe;border-radius:8px;padding:14px;\">\n      <div style=\"font-size:11px;color:#6b7280;text-transform:uppercase;font-weight:600;\">Budget</div>\n      <div style=\"font-size:18px;font-weight:800;color:#7c3aed;margin:4px 0;\">${fmtE(v.totals.spend)}</div>\n      <div>${budgetBar(v.totals.spend, v.budget_alloue)}</div>\n    </div>\n    <div style=\"background:#f0fdf4;border:1px solid #bbf7d0;border-radius:8px;padding:14px;\">\n      <div style=\"font-size:11px;color:#6b7280;text-transform:uppercase;font-weight:600;\">CTR Moyen</div>\n      <div style=\"font-size:18px;font-weight:800;color:#16a34a;margin:4px 0;\">${v.totals.ctr}%</div>\n      <div style=\"font-size:11px;color:#6b7280;\">${fmt(v.totals.clicks)} clics</div>\n    </div>\n    <div style=\"background:#eff6ff;border:1px solid #bfdbfe;border-radius:8px;padding:14px;\">\n      <div style=\"font-size:11px;color:#6b7280;text-transform:uppercase;font-weight:600;\">Couverture</div>\n      <div style=\"font-size:18px;font-weight:800;color:#2563eb;margin:4px 0;\">${fmt(v.totals.reach)}</div>\n      <div style=\"font-size:11px;color:#6b7280;\">${fmt(v.audience.fb)} FB abonnés</div>\n    </div>\n    <div style=\"background:#fefce8;border:1px solid #fde68a;border-radius:8px;padding:14px;\">\n      <div style=\"font-size:11px;color:#6b7280;text-transform:uppercase;font-weight:600;\">Engagements</div>\n      <div style=\"font-size:18px;font-weight:800;color:#d97706;margin:4px 0;\">${fmt(v.totals.engagements)}</div>\n      <div style=\"font-size:11px;color:#6b7280;\">${v.totals.engagementRate}% taux</div>\n    </div>\n  </div>\n\n  ${boosterCount > 0 || stopperCount > 0 ? `<div style=\"display:flex;gap:10px;margin-bottom:16px;flex-wrap:wrap;\">\n    ${boosterCount > 0 ? `<div style=\"background:#f0fdf4;border:1px solid #bbf7d0;border-radius:8px;padding:10px 16px;font-size:13px;color:#16a34a;font-weight:600;\">🚀 ${boosterCount} annonce${boosterCount > 1 ? 's' : ''} à booster</div>` : ''}\n    ${stopperCount > 0 ? `<div style=\"background:#fef2f2;border:1px solid #fecaca;border-radius:8px;padding:10px 16px;font-size:13px;color:#dc2626;font-weight:600;\">🛑 ${stopperCount} annonce${stopperCount > 1 ? 's' : ''} à stopper</div>` : ''}\n  </div>` : ''}\n\n  <!-- Tableau des annonces -->\n  <div style=\"font-size:13px;font-weight:700;margin-bottom:10px;color:#374151;\">Postes les plus performants (classés par score)</div>\n  <div style=\"overflow-x:auto;\">\n  <table>\n    <thead>\n      <tr>\n        <th>#</th>\n        <th style=\"min-width:160px;\">Annonce</th>\n        <th>Score</th>\n        <th>Impressions</th>\n        <th>Couverture</th>\n        <th>CTR</th>\n        <th>Engag.</th>\n        <th>CPM</th>\n        <th>Dépense</th>\n        <th>Action</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${topAds.map((ad, i) => `<tr>\n        <td style=\"color:#6b7280;font-size:12px;\">${i + 1}</td>\n        <td>\n          <div style=\"font-weight:600;font-size:12px;max-width:180px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;\" title=\"${escHtml(ad.nom)}\">${escHtml(ad.nom)}</div>\n          ${ad.campagne ? `<div style=\"font-size:10px;color:#9ca3af;\">${escHtml(ad.campagne.substring(0, 35))}</div>` : ''}\n          ${ad.likes || ad.comms || ad.shares ? `<div style=\"font-size:10px;color:#6b7280;margin-top:2px;\">❤ ${ad.likes} 💬 ${ad.comms} ↗ ${ad.shares}</div>` : ''}\n        </td>\n        <td>\n          <div class=\"score-bar\">\n            <div class=\"score-circle\" style=\"background:${scoreColor(ad.score)};\">${ad.score}</div>\n          </div>\n        </td>\n        <td>${fmt(ad.impressions)}</td>\n        <td>${fmt(ad.reach)}</td>\n        <td style=\"font-weight:${parseFloat(ad.ctr) >= 1 ? '700' : '400'};color:${parseFloat(ad.ctr) >= 1 ? '#16a34a' : parseFloat(ad.ctr) >= 0.5 ? '#d97706' : '#dc2626'}\">${ad.ctr}%</td>\n        <td>${fmt(ad.engagements)}</td>\n        <td>${ad.cpm} €</td>\n        <td>${fmtE(ad.spend)}</td>\n        <td><span class=\"badge\" style=\"background:${ad.reco.bg};color:${ad.reco.color};\">${ad.reco.emoji} ${ad.reco.label}</span></td>\n      </tr>`).join('')}\n    </tbody>\n  </table>\n  </div>\n  ${ads.length > 10 ? `<div style=\"font-size:11px;color:#9ca3af;margin-top:6px;\">Affichage des 10 meilleures sur ${ads.length} annonces analysées.</div>` : ''}\n\n  <!-- Tableau campagnes -->\n  ${v.campaigns.length > 0 ? `\n  <div style=\"font-size:13px;font-weight:700;margin:24px 0 10px;color:#374151;\">Vue d'ensemble des campagnes</div>\n  <div style=\"overflow-x:auto;\">\n  <table>\n    <thead>\n      <tr>\n        <th style=\"min-width:160px;\">Campagne</th>\n        <th>Impressions</th>\n        <th>Couverture</th>\n        <th>Clics</th>\n        <th>CTR</th>\n        <th>CPM</th>\n        <th>Fréquence</th>\n        <th>Dépense</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${v.campaigns.map((c, i) => `<tr style=\"background:${i%2===0?'white':'#f9fafb'}\">\n        <td style=\"font-weight:500;font-size:12px;max-width:200px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;\">${escHtml(c.nom)}</td>\n        <td>${fmt(c.impressions)}</td>\n        <td>${fmt(c.reach)}</td>\n        <td>${fmt(c.clicks)}</td>\n        <td style=\"color:${parseFloat(c.ctr)>=1?'#16a34a':parseFloat(c.ctr)>=0.5?'#d97706':'#dc2626'}\">${c.ctr}%</td>\n        <td>${c.cpm} €</td>\n        <td style=\"color:${parseFloat(c.frequency)>3?'#dc2626':'inherit'}\">${c.frequency}×</td>\n        <td>${fmtE(c.spend)}</td>\n      </tr>`).join('')}\n    </tbody>\n  </table>\n  </div>` : ''}\n</div>`;\n}\n\nhtml += `\n<div class=\"footer\">Généré automatiquement par OpsFlow &bull; ${new Date().toLocaleString('fr-FR')} &bull; Données: Meta Graph API v21.0 + Claude IA</div>\n</div></body></html>`;\n\nconst subject = `[JOF/JMW] Rapport Meta Ads - ${new Date().toLocaleDateString('fr-FR')}`;\nreturn [{ json: { html, subject, email } }];\n"
      }
    },
    {
      "id": "node-send-email",
      "name": "Envoyer Rapport",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1620, 390],
      "parameters": {
        "fromEmail": "opsflow@shurikeneven.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Demarrage Manuel": {
      "main": [[{ "node": "Configuration", "type": "main", "index": 0 }]]
    },
    "Declencheur Journalier": {
      "main": [[{ "node": "Configuration", "type": "main", "index": 0 }]]
    },
    "Configuration": {
      "main": [[{ "node": "Recuperer Donnees Meta", "type": "main", "index": 0 }]]
    },
    "Recuperer Donnees Meta": {
      "main": [[{ "node": "Preparer Analyse IA", "type": "main", "index": 0 }]]
    },
    "Preparer Analyse IA": {
      "main": [[{ "node": "Analyser avec Claude IA", "type": "main", "index": 0 }]]
    },
    "Analyser avec Claude IA": {
      "main": [[{ "node": "Construire Rapport HTML", "type": "main", "index": 0 }]]
    },
    "Construire Rapport HTML": {
      "main": [[{ "node": "Envoyer Rapport", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null
}
