n8n-meta-analyse.json
{
  "name": "Meta Analyse Performance - JOF JMW v2",
  "nodes": [
    {
      "id": "trigger-manual",
      "name": "Demarrage Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [80, 300],
      "parameters": {}
    },
    {
      "id": "trigger-schedule",
      "name": "Declencheur Journalier",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [80, 480],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "days", "triggerAtHour": 8, "triggerAtMinute": 0 }
          ]
        }
      }
    },
    {
      "id": "node-config",
      "name": "Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 390],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================\n// CONFIGURATION - A REMPLIR AVANT PREMIER LANCEMENT\n// ============================================================\n// META_ACCESS_TOKEN : Business Manager > Utilisateurs système\n//   Droits requis: ads_read, pages_read_engagement, instagram_basic, ads_management\n//   URL: business.facebook.com > Paramètres > Utilisateurs système\n//\n// DEEPSEEK_API_KEY : platform.deepseek.com > API Keys\n//   (A remplacer par ANTHROPIC_API_KEY quand disponible)\n//\n// WHATSAPP_PHONE_NUMBER_ID : Meta Business > WhatsApp > Configuration API > ID du numero de telephone\n// WHATSAPP_RECIPIENT : numero destinataire format international sans + (ex: 33612345678)\n//\n// Pour chaque ville:\n//   ad_account_id : Gestionnaire de publicités > Menu déroulant en haut (format act_XXXXXXXXXX)\n//   page_id       : Page Facebook > A propos > Identifiant de la page\n//   ig_user_id    : Graph API Explorer > /{page-id}?fields=instagram_business_account\n//                   ou null si pas de compte IG lié\n// ============================================================\n\nconst TOKEN = $env.META_ACCESS_TOKEN || 'REMPLACER_PAR_TOKEN_META';\n// Pour passer a Anthropic plus tard: remplacer l URL dans le noeud IA et le model\nconst AI_KEY = $env.DEEPSEEK_API_KEY || 'REMPLACER_PAR_CLE_DEEPSEEK';\nconst WA_PHONE_ID  = $env.WA_PHONE_NUMBER_ID || 'REMPLACER_PAR_PHONE_NUMBER_ID';\nconst WA_RECIPIENT = $env.WA_RECIPIENT || 'REMPLACER_PAR_NUMERO_DEST'; // ex: 33612345678\n\n// Plage de dates: last_7d | last_14d | last_30d | last_90d | this_month | last_month\nconst DATE_PRESET = 'last_30d';\n\nreturn [{\n  json: {\n    token: TOKEN,\n    ai_key: AI_KEY,\n    wa_phone_id: WA_PHONE_ID,\n    wa_recipient: WA_RECIPIENT,\n    date_preset: DATE_PRESET,\n    villes: [\n      {\n        nom: 'Metz',\n        ad_account_id: 'act_XXXXXXXXXX',\n        page_id: 'XXXXXXXXXX',\n        ig_user_id: null,\n        budget_alloue: 5000,\n        objectif_principal: 'Ventes de billets',\n        date_evenement: '2025-07-12'\n      },\n      {\n        nom: 'Bordeaux',\n        ad_account_id: 'act_XXXXXXXXXX',\n        page_id: 'XXXXXXXXXX',\n        ig_user_id: null,\n        budget_alloue: 5000,\n        objectif_principal: 'Ventes de billets',\n        date_evenement: '2025-08-23'\n      },\n      {\n        nom: 'Evreux',\n        ad_account_id: 'act_XXXXXXXXXX',\n        page_id: 'XXXXXXXXXX',\n        ig_user_id: null,\n        budget_alloue: 4000,\n        objectif_principal: 'Notoriete',\n        date_evenement: '2025-09-14'\n      },\n      {\n        nom: 'Nevers',\n        ad_account_id: 'act_XXXXXXXXXX',\n        page_id: null,\n        ig_user_id: 'XXXXXXXXXX',\n        budget_alloue: 3000,\n        objectif_principal: 'Notoriete',\n        date_evenement: '2025-10-05'\n      }\n    ]\n  }\n}];"
      }
    },
    {
      "id": "node-fetch-meta",
      "name": "Recuperer Donnees Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 390],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $input.first().json;\nconst { token, villes, date_preset } = config;\nconst BASE = 'https://graph.facebook.com/v21.0';\n\nconst get = async (url) => {\n  const r = await fetch(url);\n  const d = await r.json();\n  if (d.error) { console.warn('Meta API:', d.error.message); return null; }\n  return d;\n};\n\n// Score de performance: CTR 40% + reach/euro 30% + taux engagement 30%\nconst scoreAd = (impressions, reach, clicks, spend, actions) => {\n  if (impressions < 100) return 0;\n  const ctr = impressions > 0 ? clicks / impressions * 100 : 0;\n  const engagements = parseInt(actions?.find(a => a.action_type === 'post_engagement')?.value || 0);\n  const engRate = reach > 0 ? engagements / reach * 100 : 0;\n  const reachPerEuro = spend > 0 ? reach / spend : 0;\n  const ctrScore   = Math.min(100, ctr * 20);           // CTR 5% = 100pts\n  const reachScore = Math.min(100, reachPerEuro / 5);   // 500 reach/€ = 100pts\n  const engScore   = Math.min(100, engRate * 10);       // 10% engagement = 100pts\n  return Math.round(ctrScore * 0.40 + reachScore * 0.30 + engScore * 0.30);\n};\n\nconst getReco = (score) => {\n  if (score >= 70) return { label: 'Booster', color: '#16a34a', bg: '#f0fdf4', emoji: '🚀' };\n  if (score >= 50) return { label: 'Maintenir', color: '#2563eb', bg: '#eff6ff', emoji: '✅' };\n  if (score >= 30) return { label: 'Optimiser', color: '#d97706', bg: '#fffbeb', emoji: '⚠️' };\n  return { label: 'Stopper', color: '#dc2626', bg: '#fef2f2', emoji: '🛑' };\n};\n\nconst results = [];\n\nfor (const ville of villes) {\n  const out = {\n    ville: ville.nom,\n    budget_alloue: ville.budget_alloue,\n    objectif: ville.objectif_principal,\n    date_evenement: ville.date_evenement,\n    campaigns: [],\n    ads: [],\n    audience: { fb: null, ig: null },\n    totals: { impressions: 0, reach: 0, clicks: 0, spend: 0, engagements: 0, ctr: '0.00' }\n  };\n\n  try {\n    // 1. Vue campagnes\n    const campUrl = `${BASE}/${ville.ad_account_id}/insights?fields=campaign_name,campaign_id,impressions,reach,clicks,actions,spend,frequency,cpm,cpc,ctr&level=campaign&date_preset=${date_preset}&limit=50&access_token=${token}`;\n    const campData = await get(campUrl);\n    if (campData?.data) {\n      out.campaigns = campData.data.map(c => ({\n        id: c.campaign_id,\n        nom: c.campaign_name,\n        impressions: parseInt(c.impressions) || 0,\n        reach: parseInt(c.reach) || 0,\n        clicks: parseInt(c.clicks) || 0,\n        spend: parseFloat(c.spend) || 0,\n        ctr: parseFloat(c.ctr || 0).toFixed(2),\n        cpm: parseFloat(c.cpm || 0).toFixed(2),\n        frequency: parseFloat(c.frequency || 0).toFixed(1)\n      })).sort((a, b) => b.impressions - a.impressions);\n    }\n\n    // 2. Vue annonces individuelles (= posts sponsorisés)\n    const adInsUrl = `${BASE}/${ville.ad_account_id}/insights?fields=ad_id,ad_name,adset_name,campaign_name,impressions,reach,clicks,actions,spend,frequency,cpm,cpc,ctr,cost_per_action_type&level=ad&date_preset=${date_preset}&limit=100&access_token=${token}`;\n    const adInsData = await get(adInsUrl);\n\n    // 3. Détails créatifs (visuels, textes)\n    let creatives = {};\n    const adsUrl = `${BASE}/${ville.ad_account_id}/ads?fields=id,name,status,creative{id,title,body,image_url,thumbnail_url,call_to_action_type}&limit=100&access_token=${token}`;\n    const adsData = await get(adsUrl);\n    if (adsData?.data) {\n      for (const ad of adsData.data) {\n        creatives[ad.id] = {\n          titre: ad.creative?.title || null,\n          corps: ad.creative?.body ? ad.creative.body.substring(0, 150) : null,\n          imageUrl: ad.creative?.image_url || ad.creative?.thumbnail_url || null,\n          cta: ad.creative?.call_to_action_type || null,\n          statut: ad.status || 'UNKNOWN'\n        };\n      }\n    }\n\n    if (adInsData?.data) {\n      out.ads = adInsData.data.map(a => {\n        const actions = a.actions || [];\n        const imp   = parseInt(a.impressions) || 0;\n        const reach = parseInt(a.reach) || 0;\n        const clicks = parseInt(a.clicks) || 0;\n        const spend = parseFloat(a.spend) || 0;\n        const eng   = parseInt(actions.find(x => x.action_type === 'post_engagement')?.value || 0);\n        const likes = parseInt(actions.find(x => x.action_type === 'like')?.value || 0);\n        const comms = parseInt(actions.find(x => x.action_type === 'comment')?.value || 0);\n        const shares= parseInt(actions.find(x => x.action_type === 'post')?.value || 0);\n        const videoViews = parseInt(actions.find(x => x.action_type === 'video_view')?.value || 0);\n        const linkClicks = parseInt(actions.find(x => x.action_type === 'link_click')?.value || 0);\n        const ctr  = parseFloat(a.ctr || 0);\n        const score = scoreAd(imp, reach, clicks, spend, actions);\n        const reco  = getReco(score);\n        const cr    = creatives[a.ad_id] || {};\n\n        return {\n          id: a.ad_id,\n          nom: a.ad_name || '(sans nom)',\n          adset: a.adset_name || '',\n          campagne: a.campaign_name || '',\n          impressions: imp,\n          reach,\n          clicks,\n          spend,\n          engagements: eng,\n          likes, comms, shares, videoViews, linkClicks,\n          ctr: ctr.toFixed(2),\n          cpm: parseFloat(a.cpm || 0).toFixed(2),\n          cpc: parseFloat(a.cpc || 0).toFixed(2),\n          frequency: parseFloat(a.frequency || 0).toFixed(1),\n          costPerEngagement: eng > 0 ? (spend / eng).toFixed(2) : null,\n          score,\n          reco,\n          titre: cr.titre,\n          corps: cr.corps,\n          imageUrl: cr.imageUrl,\n          cta: cr.cta,\n          statut: cr.statut\n        };\n      }).sort((a, b) => b.score - a.score);\n    }\n\n    // 4. Audience page/IG\n    if (ville.page_id) {\n      const pageData = await get(`${BASE}/${ville.page_id}?fields=followers_count,instagram_business_account{followers_count}&access_token=${token}`);\n      if (pageData) {\n        out.audience.fb = pageData.followers_count ?? null;\n        out.audience.ig = pageData.instagram_business_account?.followers_count ?? null;\n      }\n    } else if (ville.ig_user_id) {\n      const igData = await get(`${BASE}/${ville.ig_user_id}?fields=followers_count&access_token=${token}`);\n      if (igData) out.audience.ig = igData.followers_count ?? null;\n    }\n\n    // 5. Totaux\n    const totalImp  = out.ads.reduce((s, a) => s + a.impressions, 0);\n    const totalReach= out.ads.reduce((s, a) => s + a.reach, 0);\n    const totalClk  = out.ads.reduce((s, a) => s + a.clicks, 0);\n    const totalSpd  = out.ads.reduce((s, a) => s + a.spend, 0);\n    const totalEng  = out.ads.reduce((s, a) => s + a.engagements, 0);\n    out.totals = {\n      impressions: totalImp,\n      reach: totalReach,\n      clicks: totalClk,\n      spend: totalSpd,\n      engagements: totalEng,\n      ctr: totalImp > 0 ? (totalClk / totalImp * 100).toFixed(2) : '0.00',\n      engagementRate: totalReach > 0 ? (totalEng / totalReach * 100).toFixed(2) : '0.00',\n      cpm: totalImp > 0 ? (totalSpd / totalImp * 1000).toFixed(2) : '0.00',\n      budgetRestant: ville.budget_alloue - totalSpd,\n      tauxDepense: ville.budget_alloue > 0 ? (totalSpd / ville.budget_alloue * 100).toFixed(1) : '0.0'\n    };\n\n  } catch (e) {\n    console.error(`Erreur ${ville.nom}:`, e.message);\n    out.error = e.message;\n  }\n\n  results.push(out);\n}\n\nreturn results.map(r => ({ json: r }));\n"
      }
    },
    {
      "id": "node-prepare-ai",
      "name": "Preparer Analyse IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 390],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const villes = $input.all().map(i => i.json);\nconst cfg = $('Configuration').first().json;\n\nconst fmt = n => n != null ? Number(n).toLocaleString('fr-FR') : 'N/A';\nconst fmtE = n => n != null ? `${Number(n).toFixed(2)} €` : 'N/A';\n\nlet prompt = `Tu es un expert en marketing digital spécialisé dans les événements culturels (festivals anime/manga) et la publicité Meta Ads en France.\\n\\n`;\nprompt += `Contexte: Japan Otaku Festival (JOF) et Japan Manga Wave (JMW) - festivals manga/anime itinérants en France.\\n`;\nprompt += `Objectif: Analyser les performances publicitaires Meta sur ${cfg.date_preset === 'last_30d' ? '30 derniers jours' : cfg.date_preset} et fournir des recommandations précises.\\n\\n`;\n\nprompt += `=== DONNÉES PAR VILLE ===\\n\\n`;\n\nfor (const v of villes) {\n  if (v.error) {\n    prompt += `${v.ville}: ERREUR - ${v.error}\\n\\n`;\n    continue;\n  }\n  const daysUntilEvent = v.date_evenement ? Math.ceil((new Date(v.date_evenement) - new Date()) / 86400000) : null;\n  \n  prompt += `--- ${v.ville.toUpperCase()} ---\\n`;\n  if (daysUntilEvent !== null) prompt += `📅 Événement dans ${daysUntilEvent} jours (${v.date_evenement})\\n`;\n  prompt += `🎯 Objectif: ${v.objectif || 'N/A'}\\n`;\n  prompt += `💰 Budget: ${fmtE(v.totals.spend)} dépensé / ${fmtE(v.budget_alloue)} alloué (${v.totals.tauxDepense}%)\\n`;\n  prompt += `👥 Audience: Facebook ${fmt(v.audience.fb)} abonnés | Instagram ${v.audience.ig != null ? fmt(v.audience.ig) : 'Pas de compte'}\\n`;\n  prompt += `📊 Performances globales:\\n`;\n  prompt += `   - Impressions: ${fmt(v.totals.impressions)} | Couverture: ${fmt(v.totals.reach)}\\n`;\n  prompt += `   - Clics: ${fmt(v.totals.clicks)} | CTR moyen: ${v.totals.ctr}%\\n`;\n  prompt += `   - Engagements: ${fmt(v.totals.engagements)} | Taux engagement: ${v.totals.engagementRate}%\\n`;\n  prompt += `   - CPM: ${v.totals.cpm} € | Budget restant: ${fmtE(v.totals.budgetRestant)}\\n\\n`;\n\n  const topAds = (v.ads || []).slice(0, 5);\n  const bottomAds = (v.ads || []).filter(a => a.impressions > 200).slice(-3);\n  \n  if (topAds.length > 0) {\n    prompt += `🏆 TOP ${topAds.length} ANNONCES (meilleures performances):\\n`;\n    for (const ad of topAds) {\n      prompt += `  • [Score ${ad.score}/100] \"${ad.nom}\"\\n`;\n      prompt += `    CTR: ${ad.ctr}% | Reach: ${fmt(ad.reach)} | Engagement: ${fmt(ad.engagements)} | Dépense: ${fmtE(ad.spend)} | CPM: ${ad.cpm}€\\n`;\n      if (ad.likes || ad.comms || ad.shares) prompt += `    Likes: ${ad.likes} | Commentaires: ${ad.comms} | Partages: ${ad.shares}\\n`;\n      if (ad.titre) prompt += `    Titre annonce: \"${ad.titre}\"\\n`;\n      prompt += `    Recommandation: ${ad.reco.emoji} ${ad.reco.label}\\n`;\n    }\n    prompt += `\\n`;\n  }\n  \n  if (bottomAds.length > 0) {\n    prompt += `🔴 ANNONCES LES MOINS PERFORMANTES:\\n`;\n    for (const ad of bottomAds) {\n      prompt += `  • [Score ${ad.score}/100] \"${ad.nom}\"\\n`;\n      prompt += `    CTR: ${ad.ctr}% | Reach: ${fmt(ad.reach)} | Dépense: ${fmtE(ad.spend)}\\n`;\n    }\n    prompt += `\\n`;\n  }\n  \n  prompt += `Campagnes actives: ${v.campaigns.length} | Annonces analysées: ${v.ads.length}\\n\\n`;\n}\n\nprompt += `=== DEMANDE D'ANALYSE ===\\n\\n`;\nprompt += `Fournis une analyse structurée en 5 parties:\\n\\n`;\nprompt += `**1. DIAGNOSTIC GLOBAL** (3-4 phrases)\\n`;\nprompt += `Évaluation générale des performances, villes qui sur/sous-performent, alerte sur les urgences.\\n\\n`;\nprompt += `**2. ANALYSE PAR VILLE** (pour chaque ville avec données):\\n`;\nprompt += `  - Ce qui fonctionne (annonces à booster)\\n`;\nprompt += `  - Ce qui doit être stoppé immédiatement (avec raison)\\n`;\nprompt += `  - Budget: bien utilisé ou sous/sur-dépensé? Que faire?\\n`;\nprompt += `  - Score de performance global sur 10\\n\\n`;\nprompt += `**3. RECOMMANDATIONS CRÉATIVES** \\n`;\nprompt += `Types de visuels qui fonctionnent le mieux (images vs vidéos, style graphique), messages/accroches à tester, format publicitaire recommandé pour chaque objectif.\\n\\n`;\nprompt += `**4. CIBLAGES À TESTER**\\n`;\nprompt += `Audiences à cibler/exclure, géolocalisation, tranches d'âge, centres d'intérêt spécifiques au public anime/manga.\\n\\n`;\nprompt += `**5. PLAN D'ACTION CETTE SEMAINE** (liste priorisée, maximum 7 actions concrètes)\\n`;\nprompt += `Actions spécifiques avec la ville concernée, l'action exacte et l'impact attendu.\\n\\n`;\nprompt += `Réponds en français, sois concis et très actionnable. Évite les généralités - base-toi sur les données.`;\n\nreturn [{\n  json: {\n    prompt,\n    villesData: villes,\n    ai_key: cfg.ai_key,\n    wa_phone_id: cfg.wa_phone_id,\n    wa_recipient: cfg.wa_recipient,\n    date_preset: cfg.date_preset\n  }\n}];\n"
      }
    },
    {
      "id": "node-claude",
      "name": "Analyser avec DeepSeek IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 390],
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.ai_key }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'deepseek-chat', max_tokens: 3000, temperature: 0.7, messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {
          "timeout": 90000
        }
      }
    },
    {
      "id": "node-build-report",
      "name": "Construire Rapport WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 390],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const deepseekResp = $input.first().json;\nconst analyseIA = deepseekResp.choices?.[0]?.message?.content || deepseekResp.error?.message || 'Analyse IA indisponible.';\nconst aiData = $('Preparer Analyse IA').first().json;\nconst villes = aiData.villesData || [];\nconst wa_phone_id  = aiData.wa_phone_id;\nconst wa_recipient = aiData.wa_recipient;\nconst dateStr = new Date().toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\nconst fmt  = n => n != null ? Number(n).toLocaleString('fr-FR') : 'N/A';\nconst fmtE = n => n != null ? `${Number(n).toFixed(2).replace('.', ',')} €` : 'N/A';\n\nconst globalTotals = {\n  impressions: villes.reduce((s, v) => s + (v.totals?.impressions || 0), 0),\n  reach:       villes.reduce((s, v) => s + (v.totals?.reach || 0), 0),\n  spend:       villes.reduce((s, v) => s + (v.totals?.spend || 0), 0),\n  clicks:      villes.reduce((s, v) => s + (v.totals?.clicks || 0), 0),\n  engagements: villes.reduce((s, v) => s + (v.totals?.engagements || 0), 0)\n};\n\nlet msg = `📊 *Rapport Meta Ads JOF/JMW*\\n_${dateStr}_\\n\\n`;\nmsg += `*📈 KPI GLOBAUX*\\n`;\nmsg += `👁 ${fmt(globalTotals.impressions)} impressions\\n`;\nmsg += `👥 ${fmt(globalTotals.reach)} personnes touchées\\n`;\nmsg += `🖱 ${fmt(globalTotals.clicks)} clics\\n`;\nmsg += `💬 ${fmt(globalTotals.engagements)} engagements\\n`;\nmsg += `💰 ${fmtE(globalTotals.spend)} dépensés\\n`;\n\nfor (const v of villes) {\n  if (v.error) {\n    msg += `\\n━━━━━━━━━━\\n📍 *${v.ville}* — Erreur: ${v.error}\\n`;\n    continue;\n  }\n  const t = v.totals;\n  const budgetPct = v.budget_alloue > 0 ? (t.spend / v.budget_alloue * 100).toFixed(1) : '0.0';\n  const topAd    = (v.ads || []).find(a => a.score >= 50);\n  const bottomAd = (v.ads || []).slice().reverse().find(a => a.score < 30 && a.impressions > 200);\n\n  msg += `\\n━━━━━━━━━━\\n📍 *${v.ville}* (${v.campaigns.length} camp. • ${v.ads.length} ann.)\\n`;\n  msg += `💰 ${fmtE(t.spend)} / ${fmtE(v.budget_alloue)} — ${budgetPct}%\\n`;\n  msg += `👁 ${fmt(t.impressions)} impr | CTR: ${t.ctr}%\\n`;\n  msg += `👥 ${fmt(t.reach)} reach | Eng: ${t.engagementRate}%\\n`;\n  if (topAd)    msg += `🚀 Top [${topAd.score}]: \"${topAd.nom.substring(0, 38)}\"\\n`;\n  if (bottomAd) msg += `🛑 Stopper [${bottomAd.score}]: \"${bottomAd.nom.substring(0, 35)}\"\\n`;\n}\n\nconst aiHeader = `\\n━━━━━━━━━━\\n🤖 *ANALYSE IA*\\n`;\nconst maxAiLen = 4000 - msg.length - aiHeader.length - 30;\nconst cleanAi = analyseIA\n  .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n  .replace(/^#{1,3}\\s+(.+)$/gm, '*$1*')\n  .trim();\nconst truncatedAi = cleanAi.length > maxAiLen\n  ? cleanAi.substring(0, maxAiLen) + '...\\n_(analyse tronquée)_'\n  : cleanAi;\n\nmsg += aiHeader + truncatedAi;\n\nif (msg.length > 4096) {\n  msg = msg.substring(0, 4060) + '\\n...\\n_(rapport tronqué)_';\n}\n\nreturn [{ json: { text: msg, wa_phone_id, wa_recipient } }];\n"
      }
    },
    {
      "id": "node-send-whatsapp",
      "name": "Envoyer Rapport WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [1620, 390],
      "credentials": {
        "whatsAppApi": {
          "id": "whatsapp-creds",
          "name": "WhatsApp Business API"
        }
      },
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "={{ $json.wa_phone_id }}",
        "recipientPhoneNumber": "={{ $json.wa_recipient }}",
        "textBody": "={{ $json.text }}"
      }
    }
  ],
  "connections": {
    "Demarrage Manuel": {
      "main": [[{ "node": "Configuration", "type": "main", "index": 0 }]]
    },
    "Declencheur Journalier": {
      "main": [[{ "node": "Configuration", "type": "main", "index": 0 }]]
    },
    "Configuration": {
      "main": [[{ "node": "Recuperer Donnees Meta", "type": "main", "index": 0 }]]
    },
    "Recuperer Donnees Meta": {
      "main": [[{ "node": "Preparer Analyse IA", "type": "main", "index": 0 }]]
    },
    "Preparer Analyse IA": {
      "main": [[{ "node": "Analyser avec DeepSeek IA", "type": "main", "index": 0 }]]
    },
    "Analyser avec DeepSeek IA": {
      "main": [[{ "node": "Construire Rapport WhatsApp", "type": "main", "index": 0 }]]
    },
    "Construire Rapport WhatsApp": {
      "main": [[{ "node": "Envoyer Rapport WhatsApp", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null
}
